
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
        <p><img src="~/Images/hris_big.png" /></p>
        <p class="lead">A human resource information system (HRIS), sometimes referred to as human resources management system (HRMS), is software that provides a centralized repository of employee master data that the human resource management (HRM) group needs for completing core human resource (HR) processes.</p>
        <p><a href="" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

